@charset "utf-8";
/* CSS Document */
html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

mark {
	background-color: rgba(0,0,0,.5);
	line-height: 35px;
	color: aliceblue;
}

#helpme {
	background-color: rgba(0,0,0,.5);
	vertical-align: middle;
	position: sticky;
	padding-top: 20px;
	height: 20%;
}
